<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - UTEShop Pro">UTEShop Pro</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="container" style="padding-top: 15px;">
        <div class="alert success" th:if="${successMessage}" th:text="${successMessage}"></div>
        <div class="alert error" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    </div>

    <main layout:fragment="content" class="container">
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
