# SQL Server configuration example
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=webst4;encrypt=false;trustServerCertificate=true;sslProtocol=TLSv1.2;characterEncoding=UTF-8
DB_DRIVER=com.microsoft.sqlserver.jdbc.SQLServerDriver
DB_USERNAME=sa
DB_PASSWORD=123456
SERVER_PORT=8081
